body {
  font-family: "Avenir Next";
}

li {
  list-style:none ;
color:#FF3333;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}
.a
{
color:#FF3333;
}
.main {
  padding: 100px 80px;
}

.container h1 {
  font-size: 140px;
color: #0000FF;
}

.container h2 {
  font-size: 60px;
color: #ff4a4a;
}


.contents {
  height: 500px;
  margin-top: 100px;
}


.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

/* Add CSS for <input> and <textarea> tags */
input, textarea {            
  width: 400px;            
  margin-top: 10px;            
  margin-bottom: 30px;            
 padding: 20px;            
 font-size: 18px;            
       border: 1px solid #dee7ec;            
                              }



.footer {
  background-color:  #E1E30E ;
  color: #FF3333;
  height: 300px;
  padding: 40px;
}



.footer-list {
  float: left;
color: #FF3333;
}

.footer-list li {
  padding-bottom: 20px;
color: #FF3333 ;
}
